.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    section {
        min-width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #fffee1;
        &:nth-child(2) {
            background: #e2fcff;
        }
        &:nth-child(3) {
            background: #d0eaff;
        }
        &:nth-child(4) {
            background: #fce8f4;
        }
        .content {
            max-width: 800px;
            padding: 40px;
            text-align: center;
            h2 {
                font-size: 4rem;
                color: #111;
                text-align: center;
            }
            p {
                font-size: 1.3rem;
                line-height: 1.4rem;
                color: #111;
            }
        }
    }
}